body {
	margin: 0;
    padding: 0;
	font-family: 'DM Sans', sans-serif;
	overflow-x: hidden;
    background-image: url(../images/temple.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*----------------------------------------Navbar home*/
#home-page{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin: auto;
    max-width: 100%;
}
.nav-home { 
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
    
}
.navbar-brand-home {
	font-size: 25px;
    text-decoration: none;
    height: 30px;
    display: inline-block;
    margin: 20px;
}
.navbar-nav-home {
	margin: 1px;
    padding: 2px;
}
.anchor-cl{
    text-decoration: none;
    color: #b69d9d;
}
.anchor-cl:hover{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-decoration: none;
    color:  rgba(211, 205, 151, 0.952);
}
#indian-beauty {
	text-align: center;
	font-weight: 700;
	color: #b69d9d;
	padding-top: 10%;
}

.sing-link {
	color: red;
}
#navbar-nav-home li {
	display: inline-block;
	text-align: center;
}
/*--------------slideshow---*/

.slideShow-container{
	padding: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
	height: auto;
}
.slide-img img{
	display: none;
    padding-top: 15px;
    height: 350px;
    width: 550px;
    border-radius: 25px;
}
.slide-img img.active{
	display: inline-block;
}
.prev-next {
	cursor: pointer;
	font-weight: bold;
    color: red;
	font-size: 30px;
	text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
}
.next {
	border-radius: 3px 0 0 3px;
	z-index: 100;
    margin: 0;
    padding: 25px;
}
.prev {
	border-radius: 3px 0 0 3px;
	z-index: 100;
    margin: 0;
    padding: 25px;
}

/*--Hover "buttons"--*/
.prev-next .prev:hover ,
.next:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/*---------------------------------------history-*/
#hampi-history {
	background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    max-width: 100%;
    height: auto;
    color: #b69d9d;
    
}
.title{
    text-align: center;
    padding: 20px;
}
.article-text{
    margin: auto;
    padding: 25.5px;
    height: auto;
    max-width: 100%;
    text-align: center;
    background-color: rgba(224, 205, 205, 0.6);
    color: rgba(32, 28, 28, 06);
}
.hampi-map-image{
    background-color: rgba(224, 205, 205, 0.6);
    margin: auto;
    padding: 68px;
    height: auto;
    max-width: 100%;
}
    
/*---------------------------------------offert Page home.html-*/
#travel-container{
    background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    height: auto;
    max-width: 100%;
    color: #b69d9d;
}
.travel-title {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 400;
}

.travel-offert {
    margin: auto;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.offerts {
    height: auto;
	margin: auto;
	padding: 0;
    
}
.offerts img{
    max-width: 100%;
    height: auto;   
    padding: 10px 5px 5px 10px;
    text-align: center;
    margin: auto;  
    border-radius: 0 25px 25px 25px;
}
.offert1{
    background-color: rgba(224, 205, 205, 0.6);
    font-weight: 700;
    padding: 0;
    margin: auto;
    border-radius: 0 25px 25px 25px;
}
.offert2{
	background-color: rgba(224, 205, 205, 0.6);
	font-weight: 700;
    padding: 0;
    margin: auto;
    border-radius: 0 25px 25px 25px;
}
.offert3{
	background-color: rgba(224, 205, 205, 0.6);
	font-weight: 700;
    padding: 0;
    margin: auto;
    border-radius: 0 25px 25px 25px;
}

.trips{
    text-align: center;
    margin: 0;
    padding: 10px 5px 10px 5px;
    color: rgba(32, 28, 28, 06);
}
.trip-text{
    padding: 10px;
    color: rgba(32, 28, 28, 06);
}
.price{
    text-align: center;
}
.discount{
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding-top: 25px;
}
.read-more{
	text-align: center;
	margin:auto;
	font-weight: 900;
    font-size: 40px;
    padding: 25px;   
}
.read-more a{
	color: rgba(32, 28, 28, 06);
    padding: 25px;
   
}


/*---------------------------------------Map container-*/
.map-container{
    background-color:  rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 0;
    max-width: 100%;
}
.map-1, .map-2{
    position: relative;
    max-width: 100%;
    height: 490px;
    margin: auto;
}
 #map{
    position: absolute;
    left: 335px;
    top: 45px;
    height: 410px;
    width: 590px;
    border-radius: 12px;
}

/*------------------------------review-----*/
.clients-review-container{
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
}
.client-container {
    position: relative;
    margin: auto;
	padding: 0;
    height: auto;
    max-width: 100%;   
}
.client{
    background-color: rgba(224, 205, 205, 0.6);
    margin: 15px;
    padding: 0;
    height: auto;
    border-radius: 0 25px 25px 25px;
}
.client img {
	width: 105px;
	height: 105px;
	border-radius: 0 25px 25px 25px;
}
.clients,
h4{
    padding:0;
	font-weight: 700;
	font-family: sans-serif;
	font-size: 25px;
    color: black;
}
.clients, p{
    margin: auto;
    padding: 5px;
    font-size: 20px;
    color: black;
}
.clients, img, h4, p{
    display: inline-block;
    margin:15px;
    
}
.uppercase{
    text-transform: uppercase;
}
.review-form{
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 5px;
	text-align: center;
    color: #b69d9d;
}
.review-title{
    margin: auto;
    padding: 5px;
    color: #b69d9d;
}
.review-form h3{
    font-weight: 600;
    
}
.form-review {
	width: 50%;
	border-radius: 15px;
}

/*------------------------------package page*/
.packages-container{
	padding: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
}
.package-info{
    background-color: aliceblue;
	margin-top: 25px;
    margin-left: 220px;
    margin-bottom: 25px;
    padding: 25px 25px 25px 25px;
    height: auto;
    max-width: 100%;
    border-radius: 0 25px 25px 25px;
    position: relative;
}
.package-info img{
    max-width: 100%;
    height: auto;
    border-radius: 0 25px 25px 25px;
}
.offer-pack{
    position: absolute;
    right: 150px;
    bottom: 250px;
    color: #b69d9d;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.offer-pack-text{
    position: absolute;
    right: 180px;
    bottom: 220px;
    color: #b69d9d;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.list-inline-package i{
    font-size: 18px;
    background-color: aliceblue;
}
.pack-link{
    
    margin: 5px;
    padding-right: 5px;
    padding-left: 15px;
    display: inline-block;
    color: #1a1818;
    
}

/*------------------------------contact-form*/
.contact-form-container{
    padding: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
}
.contact-form{
    margin: auto;
    padding: 20px;
    width: 640px;
	text-align: center;
    font-size: 55px;
    color: #cac1c1;
}
.contact-title{
    font-weight: 700;
    margin: auto;
    padding: 15px;
}
.text-center button{
    background-color:rgba(0, 0, 0, 0.6);
    text-decoration: none; 
}

/*------------------------------login-container*/
.login-container{
    background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    max-width: 100%;
    height: 650px;
}
.login-page{
    background-color: rgba(241, 235, 235, 0.6);
    border-radius: 0 25px 25px 25px;

    margin: auto;
    padding: 25px;
    max-width: 100%;
    height: 250px;
}

/*------------------------------footer*/
.social-container{
    background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    max-width: 100%;
    height: 190px;
   
}
#navbar{
    margin: auto;
    padding: 0;
    height: 120px;
    background: rgba(0, 0, 0, 0.6);
}
.navbar-nav-footer{
     text-align: center;
     padding-top: 30px;
     font-size: 20px;
}
.nav-link-footer{
     color: #b69d9d;
     padding: 25px;
}
.nav-item{
    display: inline-block;  
}
.nav-link-footer:hover{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-decoration: none;
    color:  rgba(211, 205, 151, 0.952);
}
.social-links{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 80px;
}
.fa {
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 9px;
    padding-bottom: 4px;
    font-size: 25px;
}
 .fa-facebook{
     border-radius: 10px;
     color:  #b69d9d;
}
.fa-instagram{
     border-radius: 10px;
     color:  #b69d9d;
}
.fa-facebook:hover, .fa-instagram:hover{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-decoration: none;
    color:  rgba(211, 205, 151, 0.952);
}

/*------------------------------Terms-conditions*/
.terms-container{
    padding: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
    color: #b69d9d;
}
.terms-conditions-container, .ordering-payment-container, .privacy-policy-container{
    padding: 15px;
    margin: auto;
    background-color: aliceblue;
    color: rgba(32, 28, 28, 06);
    text-align: center;
}
.terms-answers{
    background-color: rgba(224, 205, 205, 0.6);
    margin: auto;
    padding: 25px;
    color: #b69d9d;
    text-align: center;
}
.terms-answers p, h3, h5, h6{
    color: rgba(32, 28, 28, 06);
}
 

/*------------------------------faq*/
.faq{
    padding: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
    color: #b69d9d;
    text-align: center;
}
.faq h4{
	display: block;
	font-size: 20px;
}
.answer{
	font-size: 20px;
    margin: auto;
    padding: 35px;
    background-color: azure;
}
.faq-question{
    
	color: rgb(169, 169, 184);
	cursor: pointer;
}

/*------------------------------@media*/
@media only screen and(min-width:300px){
	.info{
		display: none;
	}
}
