@import url('https://fonts.googleapis.com/css?family=Crimson+Text:300|Indie+Flower&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0;
	font-family: 'DM Sans', sans-serif;
	
	overflow-x: hidden;
    background-image: url(../images/temple.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#home-page{
    padding: 0;
    margin: auto;
    max-width: 100%;
}
.nav-home { 
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
}
.navbar-brand-home {
	font-size: 25px;
    text-decoration: none;
    height: 30px;
    display: inline-block;
    margin: 20px;
}
.navbar-nav-home {
	margin: 1px;
    padding: 2px;
}
.anchor-cl{
    text-decoration: none;
}
#indian-beauty {
	text-align: center;
	font-weight: 900;
	color: #fafafa;
	padding-top: 10%;
}
/*--------------review---*/
.clients-review{
	display: inline-block;
	text-align: center;
}
.client {
	padding-top: 25px;
}

.clients,
h4 {
	display: inline-block;
	font-weight: 100;
	font-family: sans-serif;
	font-size: 10px;
}

.client img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
/*--------------review end---*/

/*----------------------------------------home nav*/




.sing-link {
	color: red;
}



#navbar-nav-home li {
	display: inline-block;
	text-align: center;
}
/*--------------slideshow---*/

.slideShow-container{
	padding: 0;
    margin: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 100%;
}
.slide-img{
	padding: 3px, 2px, 3px, 2px;
	
}
.slide-img img{
	display: none;
	width: 950px;
	height: 600px;
    
}
.slide-img img.active{
	display: inline-block;
    
}
.prev-next {
	cursor: pointer;
	font-weight: bold;
    color: red;
	font-size: 30px;
	text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
}
.next {
	border-radius: 3px 0 0 3px;
	z-index: 100;
    margin: 0;
    padding: 25px;

}
.prev {
	border-radius: 3px 0 0 3px;
	z-index: 100;
    margin: 0;
    padding: 25px;
}

/*--Hover "buttons"--*/
.prev-next .prev:hover ,
.next:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

/*--------------end slideshow---*/


/*----------------------------------------containers*/

.clients-review {
	position: relative;
	display: inline-block;
	text-align: center;
	background-color: antiquewhite;
	padding-top: 100px;
	padding-left: 30px;
	padding-right: 30px;
}

.review {
	padding-top: 10px;
}

.form-review {
	width: 50%;
	border-radius: 15px;


}

.form-review,
h3 {
	display: inline-block;
}

.submit {
	position: absolute;
}

.uppercase {
	text-transform: uppercase;
}
/*---------------------------------------history-*/
#hampi-history {
	background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    max-width: 100%;
    color: yellow;

}
.info {
	font-family: 'Indie Flower', cursive;
}
.intro-hampi {
	position: relative;
	margin-left: 10px;
	padding-bottom: 300px;
}

#text {
	text-align: center;
}

.title {
	padding-top: 15px;
	padding-bottom: 10px;
}

.info {
	text-align: center;
	font-weight: 700;
	position: absolute;
	right: 50%;
	margin: 1em;
	padding-left: 5px;
}

.hampi-map-image {
	position: absolute;
	left: 50%;
	height: 50%;
	width: 50%;

}

.hampi-map-image img {
	width: 50%;
}

/*---------------------------------------offert Page-*/
#travel-trips{
    background-color: rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 0;
    max-width: 100%;
}

.read-more{
	text-align: center;
	margin:auto;
	padding: 0;
	font-weight: 900;
    font-size: 40px;
}

.read-more a{
	color: #8f8484;
    padding-top: 25px;
    padding-bottom: 25px

}
#map-style {
	background-color:  rgba(0, 0, 0, 0.6);
	padding: 0;
	margin: auto;
	height: 350px;
    max-width: 100%;
    
}

.map-locations {
	height: 400px;
	width: 100px;
	border-radius: 30px;
	margin-bottom: 15px;
   
}

.travel-title {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
    color: #8f8484;
	font-size: Oswald;
	font-weight: 400;
}

.travel-offert {
	text-align: center;
    
}

.offerts {
	margin-left: 85px;
	font-family: 'Indie Flower', cursive;
}
.offerts img{
	margin-top: 15px;
}
.offert1{
	margin-top: 10px;
	background-color: aliceblue;
	color: #FF210D;
	font-weight: 900;
}
.offert2{
	background-color: aliceblue;
	color: #A00DFF;
	font-weight: 900;
}
.offert3{
	background-color: aliceblue;
	color: #CE0CE8;
	font-weight: 900;
}


/*------------------------------package page*/
.packages {
	margin: 0;
	padding: 0;
	color:blue;
	
}
.offer-pack{
	padding-top: 50px
}
.package-pic{
	padding-top: 10px;
}
.list-inline-package{
	padding-left: 5px;
}.list-inline-package li{
	display: inline-block;
	letter-spacing: 4px;
}
.pack-link{
	padding-top: 40px;
	padding-right: 10px;
	white-space: pre-line;
}


/*------------------------------contact-form*/
.contact-title {
	text-align: center;
	margin-top: 50px;
	font-weight: 600;
	font-family: 'Indie Flower';
	font-size: 25px;
}

/*------------------------------footer*/

footer {
	background-color: #525252;
	height: 100px;
}



#navbar {
	padding-top: 30px;
	word-spacing: 10px;
}

.nav-item {
	display: inline-block;

}
.social-media {
	font-weight: 700;
	text-align: center;
}
.social{
	font-weight: 800;
	color: wheat;
}

.navbar-brand-social {
	font-weight: 700;
	padding-top: 40px;
	padding-left: 30px;
	color: #fafafa;
}

#list-inline li {
	display: inline-block;
}

/*------------------------------faq*/
.faq h4{
	display: block;
	font-size: 20px;
	font-family: cursive;
	
}
.answer{
	font-size: 25px;
}
.faq-question{
	color: blue;
	cursor: pointer;
}

/*------------------------------@media*/
@media only screen and(min-width:300px){
	.info{
		display: none;
	}
}
